@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans HK", sans-serif;
    background-color: #fff;
}

.slider {
    margin-bottom: 20px;
    position: relative;
}

.slider .owl-item.active.center .slider-card {
    transform: scale(1.15);
    opacity: 1;
    background: #8A2387;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.slider-card {
    background: #fff;
    margin: 50px 15px 90px 15px;
    border-radius: 5px;
    box-shadow: 0 15px 45px -20px #bdb9b98a;
    transform: scale(0.9);
    opacity: 0.5;
    transition: all 0.3s;
}

.slider-card img {
    border-radius: 5px 5px 0 0;
    height: 150px;
}

.owl-nav .owl-next {
    position: absolute;
    top: calc(50% - 25px);
    right: -50px;
    opacity: 1;
    font-size:30px !important;
    z-index: 1;
}
.owl-nav .owl-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: -50px;
    opacity: 1;
    font-size: 30px !important;
    z-index: 1;
}
